<!doctype html>

<html>
<head>
  <meta charset="utf-8" />

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.3/angular.min.js"></script>
</head>


<body>

  <div ng-app="a">
    <div ng-controller="controller">
      <button ng-click="randomize()">PRESS HERE</button>
      <table>
        <tr ng-repeat="player in players">
          <td>{{player.color}}</td>
          <td>{{player.task}}</td>
        </tr>
      </table>
    </div>
  </div>


  <script>

    !function() {
      var app = angular.module('a', []);
      var input = [
        'No boots',
        'No ultimate',
        'Dagon only (boots and consumables allowed)',
        'Usable items only (saa rakentaa vain yhtä itemiä kerralla, esim brown-boots->energy booster, ja sit vasta seuraava itam)',
        'Nopanheitto -> heitettyä skilliä ei saa levuttaa (1=q, ..., 5=stats, 6=ulti + toinen itse valittu)',
        'Nopanheitto -> saa tehdä extension itemeitä vain yhdestä kaupan sarakkeesta',
        'Lanenvaihdot pitää callata all chattiin',
        'Denies > last hits (ei saa lasthittaa jos ei oo tarpeeks denyjä)',
        'No heal (tango, salve, mek, healing-skillit kielletty kyseiseen heroon)',
        'No stat items (ei mitään josta +str/agi/int)',
        'Filthy rich: saa ostaa vain yli 1000g itemeitä',
        'Rotsiton puskija: jos menee tornin rangelle, siitä saa lähteä vain kuolemalla tai tornin hajottua',
        'Sportsmanship: 5min jäähy poissa koneen äärestä jos meinaa hermostua',
        'No magic transport: teleporttaus kielletty (kaikissa muodoissaan)',
        'Duplicator: aina kun joku muu tiimissä ostaa courier/bottle tai minkä tahansa aura-itemin (basilius/mek/vlads/...), pitää ostaa seuraavana iteminä sama',
        'Vi sitter här i venten: bara tala svenska i mumble och chat',
        'Tasa-arvo: first item bloodstone ja joka tapon jälkeen pakko suikata heti (tai jos haaste kaikilla, cheatilla bloodstone alussa kaikille)',
        'Alphabeticalization: Pick a hero and buy only items starting with the first letter of your current steam nickname',
        "I R AASI: I'm Rich and Ain't Afraid to Show It - buy a divine rapier before the 20min mark",
        " unselfish: only buy consumables, and never use them on yourself. ",
        "true support - get over 20 assists and 0 kills",
        "pick on someone your own size - don't kill any creeps at all and win the game (aka ward biatch award)",
        "handicapped - declare you're going for the achievement, random a hero and win without ever leveling the ulti",
        "hidden and dangerous - win with an all-sneaky lineup (i.e. team consists of: Riki, Bounty, Broodmother, Clinkz, Nyx Assassin, Mirana, Treant Protector)",
        "there be dragons ahead - win with an all-dragon lineup",
        "round table - win with an all-knight lineup",
        "carrying on - win with an all hard-carry lineup",
        "greenpeace - only buy items with a green icon",
        "communist - only buy items with a red icon",
        "katainen - only buy items with a blue icon",
        "color blind - only items that are the same color as your hero portrait",
        "call your role, random hero, play as role - and DON'T FAIL",
        "Learn to focus - Win a game listening to Nyan cat the whole time",
        "man - you're only allowed to die if you drop a rapier ",
      ];

      app.controller('controller', function($scope) {

        $scope.players = [
          {color: 'blue', task: ''},
          {color: 'teal', task: ''},
          {color: 'purple', task: ''},
          {color: 'yellow', task: ''},
          {color: 'orange', task: ''},
          {color: 'pink', task: ''},
          {color: 'grey', task: ''},
          {color: 'light blue', task: ''},
          {color: 'green', task: ''},
          {color: 'brown', task: ''}
        ];

        $scope.randomize = function() {
          for (var i = 0; i < 10; i++) {
            $scope.players[i].task = input[Math.floor(Math.random() * input.length)];
          }
        };
      });

    }();

  </script>
</body>

</html>
